@tailwind base;
@tailwind components;
@tailwind utilities;



#star-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.side-nav-item {
  @apply bg-primary text-white h-20 w-20 rounded-2xl p-4 cursor-pointer hover:bg-primary/50;
}